<h1>New user</h1>
<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:user, "Name:") %>
  <%= text_field_tag(:username) %>
  <br></br>
  <%= label_tag(:user, "Email:") %>
  <%= email_field(:email, "") %>
  <br></br>
  <%= label_tag(:user, "Password:") %>
  <%= password_field_tag(:password) %>
  <br></br>
  <%= submit_tag("Submit") %>
<% end %>